.footer {
  width: 100%;
  display: flex;
  background: rgba(22, 22, 22, 0.5);
  display: flex;
  justify-content: center;
  text-align: center;
}

.footer-container {
  align-items: center;
  padding-bottom: 1.6rem;
  padding-top: 1.6rem;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-media-container {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-bottom: 0.5rem;
}

.social-media-container > a > img {
  width: 32px;
  height: auto;
  color: white;
}

.footer-links {
  display: flex;
  justify-content: space-around;
  width: 18rem;
  margin-bottom: 0.5rem;
}

.footer-links > a {
  font-size: 0.85vw;
  font-weight: 700;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.85);
}

.terms-privacy {
  display: flex;
  justify-content: center;
  margin-bottom: 0.3rem;
}

.terms-privacy-container {
  display: flex;
  justify-content: space-around;
  width: 13.5rem;
  margin-bottom: 0.5rem;
}

.terms-privacy-container > a {
  font-size: 0.82vw;
  color: rgba(255, 255, 255, 0.8);
}

.copy-right {
  font-size: 0.7rem;
  color: rgb(196, 196, 196);
}
