.header {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 6vh;
  color: white;
  background: rgba(22, 22, 22, 0.247);
}

.header-container {
  width: 85vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-type {
  height: 35px;
  width: auto;
}

.logo-type > a {
  font-size: 2.2vh;
  font-weight: 700;
  letter-spacing: 0.3vw;
}

.header-links {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 14vw;
}

.header-link-text {
  color: inherit;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
}
