.items-section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.items-container {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16vh, 24vh));
  grid-auto-rows: auto;
  grid-gap: 10px;
  grid-auto-flow: dense;
}

.item {
  grid-column: span 1;
  margin-bottom: 10px;
}

.cont {
  width: 100%;
}