.disable {
  visibility: hidden;
}

.settings-page {
  display: flex;
  justify-content: center;
  width: 100%;
}

.settings-container {
  display: flex;
  justify-content: center;
  width: 80%;
}

.setting-nav {
  width: 10%;
  display: flex;
  flex-direction: column;
}

.settings-overall {
  width: 75%;
}

.settings-boxes {
  display: flex;
}

.settings-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.settings-wrap {
  display: flex;
}

.settings-wrap-item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #36363c;
  border-radius: 4px;
}

.setttings-wrap-title {
}
