.section-three {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.about-us-container {
  margin-top: 10rem;
  color: #444444;
}

.about-title {
  text-align: center;
}

.management-container {
  width: 35vw;
  display: flex;
  justify-content: space-between;
}

.management-item {
  align-items: center;
  text-align: center;
  margin-top: 1.2rem;
}

.management-item > img {
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
}

.management-info > h3 {
  font-size: 1.3rem;
}

.management-info > p {
  font-size: 0.8rem;
}
