.section-one {
  color: white;
}

.description-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.description-login {
  display: flex;
  justify-content: space-between;
  width: 60vw;
}

.description {
  width: 30vw;
}

.description > h1 {
  font-size: 2.5vw;
  margin-bottom: 1vh;
}

.description > p {
  font-size: 0.85vw;
}

.login {
  display: flex;
  align-items: center;
}

.login > button {
  width: 12.5vw;
  height: 2.85vw;
  color: white;
  border: none;
  border-radius: 0.25vw;
  background-color: #7b2cbf;
  font-size: 0.85vw;
  font-weight: 600;
  letter-spacing: 0.08vw;
  cursor: pointer;
}

.instruction {
  margin-top: 3vw;
  width: 100%;
  display: flex;
  justify-content: center;
}

.instruction-container-all {
  width: 70vw;
}

.title {
  font-size: 0.7vw;
  margin-bottom: 1.2rem;
}

.title > h1 {
  text-align: center;
}

.instruction-container {
  display: flex;
  justify-content: space-between;
}

.instruction-item {
  max-width: 19vw;
}

.instruction-icon {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.instruction-icon > img {
  height: 4vh;
  width: auto;
}

.money-icon > img {
  height: 3vh !important;
  width: auto !important;
}

.item-text {
  min-width: auto;
  max-width: 14vw;
}

.item-text > p {
  font-size: 0.8vw;
}
