.section-two {
  width: 100%;
  display: flex;
  justify-content: center;
}

.section-two-container {
  width: 80vw;
  margin-top: 2.5rem;
}

.section-two-container > h1 {
  text-align: center;
  font-size: 1.6vw;
  margin-bottom: 3vh;
  color: #444444;
}

.subscription-container {
  display: flex;
  justify-content: space-between;
}

.sub-item {
  background-color: #ffffff;
  border-radius: 1vh;
  width: 16.5vw;
  height: 49.1vh;
}

.title-box {
  text-align: center;
  width: 100%;
}

.title-box > h1 {
  font-size: 1.05vw;
  color: #444444;
  margin-top: 0.3vw;
  margin-bottom: 0.3vw;
}

.border-container {
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-box {
  background-color: #7b2cbf;
  border-radius: 3px;
  width: 1.8vw;
  height: 0.45vh;
  position: absolute;
}

.border-box-two {
  background-color: #d2d2d2;
  height: 0.2vh;
  width: 100%;
}

.item-img {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.item-img > img {
  width: 8.3vw;
  height: auto;
}

.item-price {
  width: 100%;
  display: flex;
  justify-content: center;
}

.item-container {
  display: flex;
  justify-content: center;
}

.item-value {
  font-size: 1.4vh;
  position: relative;
}

.item-value > p {
  position: absolute;
  top: 0;
  right: 0;
  color: #444444;
}

.item-price {
  font-size: 3.8vh;
}

.item-price > p {
  color: #444444;
  font-weight: 700;
}

.item-month {
  font-size: 1.4vh;
  position: relative;
}

.item-month > p {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #444444;
}

.item-button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2.2vh;
}

.item-button > button {
  width: 8vw;
  height: 4vh;

  color: #7b2cbf;
  border: none;
  border-radius: 6px;
  border: solid 2px #7b2cbf;
  background-color: white;
  font-size: 1.65vh;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
}

.standard {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1.2rem;
}

.standard > button {
  width: 8vw;
  height: 4vh;

  color: white;
  border: none;
  border-radius: 6px;
  border: solid 2px #7b2cbf;
  background-color: #7b2cbf;
  font-size: 1.65vh;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
}

.info-box {
  display: flex;
  justify-content: center;
  margin-top: 1.2rem;
}

.info-container {
  width: 12vw;
}

.info-item {
  list-style: none;
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.info-item > img {
  height: 0.9rem;
  width: auto;
}

.info-item > p {
  font-size: 0.75rem;
  margin-left: 5px;
  color: #444444;
}

.popular {
  background-color: #7b2cbf;
  width: 100%;
  margin-top: 0.2rem;
}

.popular > p {
  color: white;
  font-size: 0.8rem;
  font-weight: 700;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
}

.price-worth {
  background-color: #7b2cbf;
  width: 100%;
  margin-top: 0.2rem;
}

.price-worth > p {
  color: white;
  font-size: 0.8rem;
  font-weight: 700;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
}
