.section-three {
  display: flex;
  justify-content: center;
  margin-bottom: 3.5vh;
}

.about-us-container {
  margin-top: 10rem;
  color: #444444;
}

.about-title {
  text-align: center;
}

.about-title > h1 {
  font-size: 1.6vw;
}

.management-container {
  width: 35vw;
  display: flex;
  justify-content: space-between;
}

.management-item {
  align-items: center;
  text-align: center;
  margin-top: 2vh;
}

.management-item > img {
  width: 7.5vw;
  height: 7.5vw;
  border-radius: 100%;
}

.management-info > h3 {
  font-size: 1.2vw;
}

.management-info > p {
  font-size: 0.6vw;
}
