.login-btn {
  width: 10vw;
  height: 1.9vw;
  background-color: #7b2cbf;
  border: none;
  border-radius: 0.25vw;
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.74vw;
  font-weight: 600;
  letter-spacing: 0.05vw;
}

.register-btn {
  width: 10vw;
  height: 1.9vw;
  background-color: white;
  border: solid 0.2vh #7b2cbf;
  border-radius: 0.25vw;
  color: #7b2cbf;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.74vw;
  font-weight: 600;
  letter-spacing: 0.05vw;
}

.exit-btn button {
  font-size: 1.5rem;
  border: none;
  background-color: rgba(0, 0, 0, 0%);
  color: black;
  transition: ease-in-out 0.3s;
  position: absolute;
  right: 0.5vw;
  top: 0.3vw;
  padding: 0;
  margin: 0;
}

.exit-btn button:hover {
  color: rgb(85, 85, 85);
  cursor: pointer;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  background-color: rgb(243, 243, 243);
  border-radius: 0.2vh;
  height: 2.5vh;
  color: black;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
}
