h1 {
  margin: 0;
  padding: 0;
}

html,
body,
.app {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 10vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  color: black;
}

#popup {
  display: none;
}

.popup-bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup_inner {
  position: absolute;
  left: 40%;
  right: 40%;
  top: 32%;
  bottom: 40%;
  margin: auto;
  background: white;
  z-index: 99;
  border-radius: 1vh;
}

.login-btn {
  width: 100%;
  height: 2vw;
  background-color: #7b2cbf;
  border: none;
  border-radius: 0.25vw;
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.74vw;
  font-weight: 600;
  letter-spacing: 0.05vw;
}

.register-btn {
  width: 100%;
  height: 2vw;
  background-color: white;
  border: solid 0.2vh #7b2cbf;
  border-radius: 0.25vw;
  color: #7b2cbf;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.74vw;
  font-weight: 600;
  letter-spacing: 0.05vw;
}

.title-bar {
  height: 20%;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 1vh;
}

.title-bar h1 {
  font-size: 2vh;
  align-items: center;
}

.form-container-flex {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-container {
  width: 80%;
}

.input-container input {
  box-sizing: border-box;
  width: 100%;
  height: 2vw;
  margin-bottom: 0.8vh;
  border: solid rgb(141, 141, 141) 1.5px;
  border-radius: 0.25vw;
  padding-left: 10px;
}

.button-container-login {
  margin-bottom: 0.5vh;
  width: 100%;
}

.button-container-register {
  margin-bottom: 0.5vh;
  width: 100%;
}

.overall-information {
  width: 100%;
  display: flex;
  justify-content: center;
}

.a-container {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.a-container a {
  font-size: 1.2vh;
}
