* {
  margin: 0;
  padding: 0;
}

#app {
  background-color: #1f1f1f;
}

.input-error {
  background-color: rgba(237, 28, 36, 0.1);
  border: 1px solid #ed1c24;
}

.input-accepted {
  background-color: rgba(28, 237, 38, 0.1);
  border: 1px solid #1ced3f;
}

A:link {
  text-decoration: none !important;
}
A:hover {
  text-decoration: none !important;
}
A:active {
  text-decoration: none !important;
}
A:visited {
  text-decoration: none !important;
}
