body {
  background-color: #1f1f1f;
  margin: 0;
  font-family: "Rubik";
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: uppercase;
}

code {
  font-family: "Rubik";
}
